h3 {
    color: #982abc;
}

#redcolor{
    color: red;
    background-color: pink;
}

.yellow{
    color: yellow;
    background-color: black;
}
.green{
    color: green;
    background-color: palegoldenrod;
}

span, footer {
    color: blue;
    border: 2px solid red;
}